rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{commentId} {
      allow read: if true;

      allow create: if request.auth != null
        && request.auth.token.firebase.sign_in_provider == 'google.com'
        && request.resource.data.keys().hasOnly([
          'postPath',
          'authorName',
          'text',
          'createdAt'
        ])
        && request.resource.data.postPath is string
        && request.resource.data.postPath.matches('^/blog/.*$')
        && request.resource.data.authorName == request.auth.token.name
        && request.resource.data.text is string
        && request.resource.data.text.size() >= 2
        && request.resource.data.text.size() <= 2000
        && request.resource.data.createdAt == request.time;

      allow update, delete: if false;
    }
  }
}
